/**/

	/* FILE DESCRIPTION: 
	 * The styling for GameBoardWrapper
*/
/**/
.board_canvas_wrapper{
	position: relative;
}

.opaque_filler{
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	background-color: black;
	opacity: 0.6;
	z-index: 3;
	color: white;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: xx-large;
}

#canvas_id{
	z-index: 2;
	/* height: 95%; */
	width: 100%;
	top:0;
	position: absolute;
}

.button_wrapper{
	position: absolute;
	height: 14%;
	width: 32%;
}

#restart_id{
	top: 30%;
	left: 50%;
}

#analyze_id{
	top: 50%;
	left: 50%;
}

#main_page_id{
	top: 70%;
	left: 50%;
}

.canvas_button{
	z-index: 3;
	position: relative;
	top: -50%;
	left: -50%;
	height: 100%;
	width: 100%;
	border-radius: 40px;
	cursor: pointer;
	outline: none;
}

.bordered{
	border: 1px solid;
}

.none_display{
	display: none !important;
}

#draw_resign_div_id{
	height: 10%;
	width: 100%;
	top: 90%;
	background-color: darkslategray;
	position: absolute;
	display: flex;
	justify-content: space-evenly;
}

.bottom_button{
	height: 60%;
	width: 20%;
	margin: auto;
	border-radius: 40px;
	cursor: pointer;
	outline: none;
}

.bottom_interface_container {
	height: 10%;
	/* width: 100%; */
	top: 90%;
	background-color: darkslategray;
	position: absolute;
}

.bottom_buttons_container {
	height: 100%;
	width: 100%;
	display: flex;
	justify-content: space-evenly;
}

.side_select_menu_container {
	position: absolute;
	height: 100%;
	margin-right: 0;
	top: 0;
	right: 0;
	justify-content: center;
	align-items: center;
	display: flex;
	flex-direction: column;
}

.confirmation_button_left_side {
	border-top-left-radius: 40px;
	border-bottom-left-radius: 40px;
	cursor: pointer;
	outline: none;
	margin-right: 0;
	padding-right: 0;
	border-right: 0;
	background-color: red;
}

.confirmation_button_right_side {
	border-top-right-radius: 40px;
	border-bottom-right-radius: 40px;
	cursor: pointer;
	outline: none;
	margin-left: 0;
	padding-left: 0;
	border-left: 0;
	background-color: yellow;
}

.button_highlight_on_hover:hover {
	opacity: 0.7;
}
